/*
Challenge:
1. Center the text and button
2. Style the button according to the design.
   Use a class to select the button.
*/

body {
    margin: 0;
    color: white;
    text-align: center;
    height: 100;
}

@font-face {
    font-family: "Mainstay";
    src: url("Mainstay\ Handwriting.ttf");
}

.hero-div {
    background-image: url("images/galaxy.webp");
    background-size: cover;
    padding: 10px 10px 0px 10px;
    height: 90vh;
}

.font-class {
    font-family: "Orbitron";
    color: lightblue;
}

h1 {
    font-size: 40px;
    text-shadow: 0px 0px 4px black
}

.btn {
    border: none;
    font-weight: bolder;
    padding: 8px 16px;
    font-size: 18px;
    border-radius: 2px;
    background-color: lightslategray;
}

.cta {
    text-decoration: underline;
}

#logo {
    width: 100px;
    margin-top: 20px;
    margin-left: 20px;
}
